$primary: #75b239;
$primary: #75b239;
$primary-dark: #559930;
$black: black;
$dark: gray;
$gray-900: #999;
$white: white;
$gray-1: #25262a;
$gray-2: #5c626e;
$gray-3: #c4c7ce;
$gray-4: #edf0f5;