@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import "../fonts/flaticon/font/flaticon.css";
@import 'variables';
@import 'main';
@import 'navbar';
@import 'home_page';
@import 'shop';
@import 'cart';

@import "~bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/button-group";
// @import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/forms-select";
// @import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/nav";
// @import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/carousel";

@import 'node_modules/bootstrap-vue/src/index';

#app { 
    font-family: Nunito, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


